/* Google Sans font */
@font-face {
  font-family: "Google Sans";
  src: url("Google-Sans-Font/GoogleSans-Bold.ttf");
}

body {
  background-color: #242424;
  color: #ffffff;
  font-family: "Google Sans", sans-serif;
  text-align: center;
  padding: 40px;
}

h1 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 40px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  background-color: #3c4043;
  color: #ffffff;
  font-size: 1.1em;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px; /* rounded style */
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 500;
}

nav a:hover {
  background-color: #4285f4;
  color: #ffffff;
}
