* {
  font-family: "Ubuntu";
}

:root {
  --color-main: #16325b;
  --color-main-darker: #12294a;
  --color-neutral: #f5f5f5;
  --color-neutral-darker: #225091;
}

body {
  display: flex;
  background-color: var(--color-main);
  color: var(--color-neutral);
  height: 100vh;
}

.left-main-container {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

  flex: 3;
  padding: 10px;
  border-right: 1px solid var(--color-neutral);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-main-container h1 {
  text-align: center;
}

.left-main-container input {
  height: 2rem;
  border-radius: 0.5rem;
  transition: all ease 500ms;
  border: none;
  outline: none;
  padding: 5px;
}

.left-main-container textarea {
  resize: none;
  outline: none;

  border-radius: 0.5rem;
  border: none;
  padding: 5px;
  transition: all ease 500ms;
}

.add-book {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-main-container {
  flex: 10;
}

.right-main-container > h1 {
  text-align: center;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#have-read {
  height: 1rem;
}

.card {
  width: 30%;
  height: 35.5rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  margin: 10px;
  border: 1px solid var(--color-neutral);
}

.card-action-menu {
  display: flex;
  gap: 10px;
}

button {
  background: var(--color-neutral);
  color: var(--color-main);
  font-weight: 900;
  border: none;
  height: 30px;
  width: 50%;
  border-radius: 0.6rem;
  transition: all ease 300ms;
}

button:hover {
  background: var(--color-main);
  color: var(--color-neutral);
  transition: all ease 300ms;
  border: 1px solid var(--color-neutral);
}

input:focus,
textarea:focus {
  transition: all ease 500ms;
  background: var(--color-main);
  border: 1px solid var(--color-neutral);
  color: var(--color-neutral);
  font-weight: 700;
}

input:focus::placeholder {
  color: var(--color-neutral);
}

.cards {
  border-top: 1px solid var(--color-neutral);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 5rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.cards::-webkit-scrollbar {
  width: 10px;
}

.cards::-webkit-scrollbar-track {
  background: var(--color-main);
}

.cards::-webkit-scrollbar-thumb {
  background: var(--color-neutral);
  border-radius: 10px;
}

.cards::-webkit-scrollbar-thumb:hover {
  background: var(--color-neutral-darker);
}

.card-title {
  border: 1px solid var(--color-neutral);
  border-radius: 1rem;
  padding: 0 20px 0 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.card-short-desc {
  border: 1px solid var(--color-neutral);
  padding: 0 10px 0 10px;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.card-pages {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: 1.2rem;
}

.card-have-read {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: 1.2rem;
}

a {
  color: var(--color-neutral);
  font-weight: 700;
  transition: all ease 500ms;
  /* border-bottom: 1px solid var(--color-neutral); */
}

a:hover {
  color: #12294a;
  transition: all ease 500ms;
}

footer {
  text-align: center;
}