@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
}

body {
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

hr {
  background-color: #1f1f1f;
  height: 3px;
  border: none;
  border-radius: 1rem;
  margin-bottom: 5px;
}

.main-body {
  background-color: darkgray;
  height: 600px;
  width: 900px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
}

.title h1 {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  height: 60px;
  padding: 10px;
  align-items: center;
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.body-container {
  display: flex;
  height: 100%;
  border-radius: 10px;
}

.tools {
  flex: 1;
  border-right: 3px solid gray;
  height: 100%;
}

.tools h3 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-bottom: 3px solid gray;
}

.grid {
  flex: 2;
  border-radius: 10px;
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-square-30,
.grid-square-20,
.grid-square-10,
.grid-square-6 {
  background-color: white;
  cursor: cell;
}

.grid-square-30 {
  height: 30px;
  width: 30px;
}

.grid-square-20 {
  height: 20px;
  width: 20px;
}

.grid-square-10 {
  height: 10px;
  width: 10px;
}

.grid-square-6 {
  height: 6px;
  width: 6px;
}

.grid-square-30.hovered,
.grid-square-20.hovered,
.grid-square-10.hovered,
.grid-square-6.hovered {
  background-color: black;
}

.notification {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.set-grid-size-btn-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.set-grid-size-btn-container input {
  border: none;
}

.set-grid-size-btn-container input[type="text"] {
  padding: 10px;
  font-size: 1rem;
}

button {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  height: 30px;
  background-color: #333;
  border: none;
  transition: all ease 400ms;
}

button:hover {
  background-color: #1f1f1f;
  transition: all ease 400ms;
  cursor: all-scroll;
}

.color-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

footer {
  display: flex;
  background-color: darkgray;
  border-top: 3px solid gray;
  width: 880px;
  padding: 10px;
  justify-content: center;
  gap: 10px;
  font-size: 1.3rem;
}

footer a {
  color: inherit;
  transition: all ease 300ms;
}

footer a:hover {
  color: aliceblue;
  transition: all ease 300ms;
}
